$gris: rgb(240, 232, 232);
$gris2: rgb(229, 220, 220);
$height: 100vh;
$width: 100vw;
$img_size: $height/5;

@mixin percentage($percent, $value){
    width: ($percent * $value)/100
}

body {
  display: flex;
  margin: none;
  padding: none;
  width: $width;
  height: $height;
  background-color: $gris2;
  // border: 3px solid black;
}

#right {
  display: block;
  background-color: $gris;
  height: $height;
  @include percentage(40, $height);
  padding: 10px;
  justify-content: center;

  img {
    height: $img_size;
    width: $img_size;
    padding: 10px;
    border: 1px solid black;
    border-radius: 30%;
  }
}

#left {
  width: $width;
  height: $height;
  background-color: $gris2;
}
