$gris: rgb(240, 232, 232);
$gris2: rgb(229, 220, 220);
$height: 100vh;
$width: 100vw;
$img_size: $height/5;

@mixin margin_y($y: 10px) {
  margin-top: $y;
  margin-bottom: $y;
}
@mixin padding_y($y: 10px) {
  padding-top: $y;
  padding-bottom: $y;
}

body {
  display: flex;
  margin: none;
  padding: none;
  width: $width;
  height: $height;
  background-color: $gris2;
  // border: 3px solid black;
}
a {
  text-decoration: none;
  color: black;
}
#right {
  // display: block;
  background-color: $gris;
  height: $height;
  width: (40 * $height)/100;
  // padding: 10px;
  font-size: medium;

  img {
    height: $img_size;
    width: $img_size;
    padding: 10px;
    border: 1px solid black;
    border-radius: 30%;
  }
}

#left {
  width: $width;
  height: $height;
  background-color: $gris2;
}

#contacts {
  display: block;
  height: fit-content;
  width: $img_size + 3;
  border: 1px solid black;
  @include margin_y;

  h3 {
    text-align: center;
  }

  span {
    display: flex;
    a,
    p {
      margin-left: 15px;
    }
  }
}
