@use "utils" as u;

body {
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}

* {
  font-family: Samanata, "NovaMono for Powerline";
  font-weight: 10;
}

#mother {
  @include u.flex;
  width: 100vw;
  height: 100vh;
}

.columns {
  @include u.flex($direction: "col");
  width: 100vw;

  .column0 {
    // @include u.colors($type: "light");
    background: linear-gradient(u.$gblue2, u.$green);
    @include u.flex-column($size: 1.8);
  }

  .column1 {
    @include u.colors($type: "dark");
    @include u.flex-column($size: 4);
  }
}

.rows {
  @include u.flex($direction: "row");
  row-gap: 30px;

  .row {
    height: 10vh;
    @include u.mx;
  }

  #row0 {
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      width: 100%;
    }
  }

  h2 {
    align-self: center;
    text-decoration: underline;
  }

  #row1,
  #row2 {
    background-color: u.$white;
    height: fit-content;
    @include u.flex($direction: "row");
    @include u.px($x: 20px);
    padding-bottom: 20px;
  }

  // #row2 {
  // background-color: royalblue;
  // height: fit-content;
  // @include u.flex($direction: "row");

  // }

  #row3 {
    background-color: white;
  }

  #robotic {
    @include u.jauge;

    #robotic-level {
      @include u.jauge-qty($qty: 80%);
    }
  }

  #electronum {
    @include u.jauge;

    #electronum-level {
      @include u.jauge-qty;
    }
  }

  #electronic {
    @include u.jauge;
    #electronic-level {
      @include u.jauge-qty($qty: 95%);
    }
  }
}

@media print {
  body {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
    page-break-after: always;
  }
}
