@use "_utils" as u;
// @use "sass:color";

body {
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  // background-color: color.scale(u.$green, $lightness: 20%);
}

a {
  text-decoration: none;
  color: u.$black;
}

* {
  font-family: sans-serif;
  font-weight: 10;
  // font-size: 30;
}

.columns {
  @include u.flex($direction: "col");

  .column0 {
    @include u.flex-column($size: 1);
    background: linear-gradient(u.$gblue2, u.$green);
    font-size: 1em;
    // width: 50%;
  }

  .column1 {
    @include u.flex($direction: "row");
    @include u.colors($type: "dark");
    @include u.flex-column($size: 4);
    font-size: 0.94em;
    // margin-bottom: 100px;
    // height: 120vh;
    row-gap: 10px;
    h1 {
      font-weight: bold;
      text-align: center;
    }
    h2 {
      text-decoration: underline;
      font-weight: 500;
      font-size: larger;
    }

    #block-about {
      @include u.flex("row");
      @include u.px;
      @include u.py;
      row-gap: 10px;

      #about0 {
        h3 {
          text-align: center;
          text-transform: capitalize;
          text-decoration: underline;
          // font-variant: small-caps;
          font-weight: 900;
          font-size: larger;
        }
      }

      #about1 {
        border: 1px solid;
        @include u.px;
        p {
          font-size: larger;
        }
      }
    }
  }

  #block-experience {
    border: 1px double;
    @include u.px($x: 20px);
    @include u.mx;
    .sub-content {
      @include u.px($x: 20px);
      @include u.my;
      @include u.flex("row");
      border: 1px dotted;

      .infos {
        @include u.flex;
        column-gap: 20px;
        margin-top: -10px;
      }
    }
  }

  #details {
    border: 1px double;
    @include u.mx;
    @include u.my;
    @include u.px($x: 20px);

    .columns {
      @include u.flex($direction: "col");
      .column {
        @include u.flex-column($size: 100px);
      }
    }
  }
}

.rows {
  @include u.flex($direction: "row");
  row-gap: 10px;

  .row {
    height: 10vh;
    @include u.mx;
  }

  #row0 {
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      width: 100%;
      margin-top: 10px;
    }
  }

  h2 {
    align-self: center;
    text-decoration: underline;
  }

  #row1 {
    span {
      @include u.flex;
      column-gap: 8px;
      padding-bottom: 8px;
    }
  }

  #row1,
  #row2,
  #row3 {
    background-color: u.$white;
    height: fit-content;
    @include u.flex($direction: "row");
    @include u.px($x: 20px);
    padding-bottom: 20px;
  }

  #row2 {
    #robotic {
      @include u.jauge;

      #robotic-level {
        @include u.jauge-qty($qty: 80%);
      }
    }

    #electronum {
      @include u.jauge;

      #electronum-level {
        @include u.jauge-qty;
      }
    }

    #electronic {
      @include u.jauge;
      #electronic-level {
        @include u.jauge-qty($qty: 95%);
      }
    }
  }

  #row3 {
    h2 {
      margin-bottom: 5px;
    }
    .group {
      @include u.flex;
      column-gap: 10px;
      justify-content: space-between;
      padding-bottom: 4px;

      :nth-child(1) {
        width: 100px;
      }

      :nth-child(2) {
        @include u.jauge;

        #kirundi-level {
          @include u.jauge-qty($qty: 100%);
        }

        #french-level {
          @include u.jauge-qty($qty: 96%);
        }

        #english-level {
          @include u.jauge-qty($qty: 60%);
        }

        #swahili-level {
          @include u.jauge-qty($qty: 70%);
        }
      }
    }
  }
}

@media print {
  body {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
    page-break-after: always;
  }
}
