body {
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #1e424a;
}

* {
  font-family: sans-serif;
  font-weight: 10;
}

#mother {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
}

.columns {
  display: flex;
  flex-direction: row;
  width: 100vw;
}
.columns .column0 {
  background: linear-gradient(#1e424a, #b9eddd);
  flex: 1.8;
}
.columns .column1 {
  background-color: #577d86;
  color: #fff;
  flex: 4;
}
.columns .column1 #block-about {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  row-gap: 10px;
}
.columns .column1 #block-about h1 {
  font-weight: bold;
  text-align: center;
}
.columns .column1 #block-about #about0 {
  border: 1px double;
}
.columns .column1 #block-about #about0 h3 {
  text-align: center;
  text-transform: capitalize;
  text-decoration: underline;
  font-weight: 900;
  font-size: larger;
}
.columns .column1 #block-about #about1 {
  border: 1px solid;
  padding-left: 10px;
  padding-right: 10px;
}
.columns .column1 #block-about #about1 p {
  font-size: larger;
}

.rows {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.rows .row {
  height: 10vh;
  margin-left: 10px;
  margin-right: 10px;
}
.rows #row0 {
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
}
.rows #row0 img {
  width: 100%;
}
.rows h2 {
  align-self: center;
  text-decoration: underline;
}
.rows #row1 span {
  display: flex;
  flex-direction: row;
  -moz-column-gap: 8px;
       column-gap: 8px;
  padding-bottom: 8px;
}
.rows #row1,
.rows #row2,
.rows #row3 {
  background-color: #fff;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}
.rows #row2 #robotic {
  background-color: #d05a5a;
  color: #d05a5a;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  position: relative;
  width: 100%;
  height: 20px;
  font-size: small;
}
.rows #row2 #robotic #robotic-level {
  background-color: #577d86;
  color: #fff;
  width: 80%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  text-align: center;
}
.rows #row2 #electronum {
  background-color: #d05a5a;
  color: #d05a5a;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  position: relative;
  width: 100%;
  height: 20px;
  font-size: small;
}
.rows #row2 #electronum #electronum-level {
  background-color: #577d86;
  color: #fff;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  text-align: center;
}
.rows #row2 #electronic {
  background-color: #d05a5a;
  color: #d05a5a;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  position: relative;
  width: 100%;
  height: 20px;
  font-size: small;
}
.rows #row2 #electronic #electronic-level {
  background-color: #577d86;
  color: #fff;
  width: 95%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  text-align: center;
}
.rows #row3 h2 {
  margin-bottom: 5px;
}
.rows #row3 .group {
  display: flex;
  flex-direction: row;
  -moz-column-gap: 10px;
       column-gap: 10px;
  justify-content: space-between;
  padding-bottom: 4px;
}
.rows #row3 .group :nth-child(1) {
  width: 100px;
}
.rows #row3 .group :nth-child(2) {
  background-color: #d05a5a;
  color: #d05a5a;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  position: relative;
  width: 100%;
  height: 20px;
  font-size: small;
}
.rows #row3 .group :nth-child(2) #kirundi-level {
  background-color: #577d86;
  color: #fff;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  text-align: center;
}
.rows #row3 .group :nth-child(2) #french-level {
  background-color: #577d86;
  color: #fff;
  width: 96%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  text-align: center;
}
.rows #row3 .group :nth-child(2) #english-level {
  background-color: #577d86;
  color: #fff;
  width: 60%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  text-align: center;
}
.rows #row3 .group :nth-child(2) #swahili-level {
  background-color: #577d86;
  color: #fff;
  width: 70%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  text-align: center;
}

@media print {
  body {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
    page-break-after: always;
  }
}/*# sourceMappingURL=style.css.map */